<!DOCTYPE html>
<html>
<head>
	<title>Task table</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="table.css">
	<script src="https://kit.fontawesome.com/cdd7c56204.js" crossorigin="anonymous"></script>
</head> 
<body>
	
	