<% include ../partials/header %>

<div class="jumbotron"><h1>Admin</h1></div>
<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Opening Tasks<span style="float:right"><button id="addOpening"><i class="fas fa-plus"></i></button></span></h3></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Daily Tasks<span style="float:right"><button id="addDaily"><i class="fas fa-plus"></i></button></span></h3></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Closing Tasks<span style="float:right"><button id="addClosing"><i class="fas fa-plus"></i></button></span></h3></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Water Tests<span style="float:right"><button id="addPool"><i class="fas fa-plus"></i></button></span></h3></div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Shift Lead Tasks<span style="float:right"><button id="AddShiftLeadTask"><i class="fas fa-plus"></i></button></span></h3></div>
        </div>
    </div>

</div>

<% include ../partials/footer %>