<% include ./partials/adminheader %>
<h1>Facility Settings</h1>
 <!-- Opening and closing times(table with day and open/close times) -->

<!-- steamroom on deck(radio) -->
<!-- Headcount for hot tubs or hot tub on deck(radio) -->
<!-- pools(appendable list make sure to include if you want to do water tests on it) -->
<!-- changerooms and steamrooms in changerooms(if none of the changerooms have steamrooms don't render the steamroom row) -->

<% include ./partials/adminfooter %>