<% include ../partials/header %>
<h1>Headcount for <%= time%></h1>
<form action="">
    <ul class="list-group">
        <li class="list-group-item">Main Pool Open/Lane Swim: <input type="number" name="" id=""></li>
        <li class="list-group-item">Main Pool Programs: <input type="number" name="" id=""></li>
        <li class="list-group-item">Training Pool Open Swim: <input type="number" name="" id=""></li>
        <li class="list-group-item">Training Pool Programs: <input type="number" name="" id=""></li>
        <input class="btn btn-lg btn-primary" type="submit" name="" id="">

    </ul>
    

</form>

<% include ../partials/footer %>