<% include ./partials/header %>
<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active"><a href="#taskSheet" data-toggle="tab">Daily Tasks</a></li>
	<li role="presentation" class=""><a href="#headCounts" data-toggle="tab">Head Counts</a></li>
	<li role="presentation" class=""><a href="#waterTests" data-toggle="tab">Water Tests</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="taskSheet">
			<div class="jumbotron">
				<h1>Task Sheet</h1>
				<h2 class="date"></h2>
			</div>
			<div class="container">
			<div class="panel panel-default">
			<div class="panel-heading"><h3>Opening Tasks</h3></div>
			<table class="table table-bordered tasks" id="opening-tasks" style="width:100%">
				<tr>
					<th id="empl">Employee #</th>
					<th>Task</th>
					<th>Description</th>
					
				</tr>
			</table>

			<ul class="list-group">
				<li class="list-group-item">Opening Shift Lead: <input type="number" name="openSL" placeholder="Employee #"></li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Daily Tasks</h3></div>
			<table class="table table-bordered tasks" id="daily-tasks" style="width:100%">
				<tr>
					<th>Employee #</th>
					<th>Task</th>
					<th>Description</th>
				</tr>
				
			</table>

			<ul class="list-group">
				<li class="list-group-item">Daytime Shift Lead: <input type="number" name="openSL" placeholder="Employee #"></li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Closing Tasks</h3></div>
			<table class="table table-bordered tasks" id="closing-tasks">
				<tr>
					<th>Employee #</th>
					<th>Task</th>
					<th>Description</th>
				</tr>
			</table>
			
			<ul class="list-group">
				<li class="list-group-item">Closing Shift Lead: <input type="number" name="openSL" placeholder="Employee #"></li>
			</ul>
		</div>
	</div>
		</div>
		<div class="tab-pane" id="headCounts">
			<div class="jumbotron">
				<h1>Headcounts</h1>
				<h2 id="time"></h2>
			</div>
			<div class="container">
			<ul class="list-group">
				<li class="list-group-item">Main Pool Open/Lane Swim: <input type="number" name="" id=""></li>
				<li class="list-group-item">Main Pool Programs: <input type="number" name="" id=""></li>
				<li class="list-group-item">Training Pool Open Swim: <input type="number" name="" id=""></li>
				<li class="list-group-item">Training Pool Programs: <input type="number" name="" id=""></li>
				<input class="btn btn-lg btn-primary" type="submit" name="" id="">
			
			</ul>
		</div>
		</div>
  		<div class="tab-pane" id="waterTests">
			<div class="jumbotron">
				<h1>Water tests</h1>
				<h2 class="date"></h2>
			</div>
			<div class="container">
			<div class="panel panel-default">
			<div class="panel-heading"><h3>Main Pool</h3></div>
			<table class="table table-bordered" style="width:100%">
				<tr>
					<th>Time</th>
					<th>FAC</th>
					<th>CC</th>
					<th>TC</th>
					<th>PH</th>
					<th>Temp</th>
					<th>DM notified</th>
					<th>Employee ID</th>
				</tr>
				<tr>
					<td>Opening</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
				<tr>
					<td>8:00am</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
				<tr>
					<td>11:00am</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
				<tr>
					<td>2:00pm</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
				<tr>
					<td>5:00pm</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
				<tr>
					<td>8:00pm</td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="number"></td>
					<td><input type="checkbox"></td>
					<td><input type="number"></td>
				</tr>
			</table>
		</div>
		<div class="panel panel-default">
				<div class="panel-heading"><h3>Training Pool</h3></div>
				<table class="table table-bordered" style="width:100%">
					<tr>
						<th>Time</th>
						<th>FAC</th>
						<th>CC</th>
						<th>TC</th>
						<th>PH</th>
						<th>Temp</th>
						<th>DM notified</th>
						<th>Employee ID</th>
					</tr>
					<tr>
						<td>Opening</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>8:00am</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>11:00am</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>2:00pm</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>5:00pm</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
					<tr>
						<td>8:00pm</td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="number"></td>
						<td><input type="checkbox"></td>
						<td><input type="number"></td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	  </div>

<% include ./partials/footer %>